.userform{
    padding: 50px;
}
.card-header{
    background-color: #5b70e4;
    padding: 40px;
    font-size: 30px;
}
.savebutton{
    width: 200px;
    height: 60px;
    font-size: 25px;
    border-radius: 25px;
}
.card-body{
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(156, 196, 252));
}
.mat-icon{
    font-size: 1.14rem;
    color:#797373;   
}

