<!-- <div style="background-image: url('assets/twiteers-logo.jpg');height:500px;"> -->
<div class="container ">
  <div class="card">
      <div class="alert alert-info small" *ngIf="errorMessage">{{errorMessage}}</div>
      <h5 class="card-header text-white">Register</h5>
      <div class="card-body">
      <form [formGroup]="signupForm">
        <div class="form-row">
          <div class="form-group col-md-12">
            <label><mat-icon>email</mat-icon>Email Id:</label><br>
            <input type="" formControlName='email' id="email" class="form-control" placeholder="Enter Email Ex : xyz@gmail.com *" required pattern><br>
            <div class="text-danger small"
              *ngIf="!signupForm.get('email').valid && signupForm.get('email').touched">Enter Valid Email</div>
          </div>
        </div>

            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="first-name">First Name</label><br>
                <input type="text" formControlName='firstName' id="first-name" class="form-control" placeholder="Enter First Name*" required>
                <div class="text-danger small"
                  *ngIf="!signupForm.get('firstName').valid && signupForm.get('firstName').touched">Enter firstname</div>
              </div>
              <div class="form-group col-md-6">
                <label for="last-name">Last Name</label><br>
                <input type="text" formControlName='lastName' id="last-name" class="form-control" placeholder="Enter Last Name">
              </div>
            </div>
            
            <div class="form-row">
              <!-- <div class= "form-group col-md-6">
              <label for="dob">login Id</label><br>
              <input type="text" formControlName='id' id="id" class="form-control" placeholder="Enter login Id">
              <div class="text-danger small"
                  *ngIf="!signupForm.get('id').valid && signupForm.get('id').touched">Enter Login Id</div>
                </div> -->
                <div class="form-group col-md-6 ">
                  <label for="gender">Gender</label><br>
                  <input type="radio" formControlName='gender' id="gender"  placeholder="Enter gender" value="male" selected>male
                  <input type="radio" formControlName='gender' id="gender"  placeholder="Enter gender" value="female">female
                </div>
            </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="password">Password</label><br>
            <input type="password" formControlName='password' id="password" class="form-control" placeholder="Enter Password*" required>
            <div class="text-danger small"
              *ngIf="!signupForm.get('password').valid && signupForm.get('password').touched">Enter password</div>
            
          </div>

          <div class="form-group col">
            <label for="confirmpassword">Confirm Password</label><br>
            <input type="password" [(ngModel)]='confirmPassword' class="form-control" [ngModelOptions]="{standalone: true}" id="confirmpassword" placeholder="Confirm Password*" required>
            <div class="text-danger small"
              *ngIf="confirmPassword.errors?.required">Enter Confrim password</div> <br><br>
            
          </div>
          <div class="text-danger small" *ngIf="passwordCheck">
            Password do not  match
          </div><br>
        </div>
        
        <div class="form-row">
          <div class="form-group col">
            <div class="text-center col-md-12 mt-3 mb-2">
            <button class="btn btn-success savebutton" type="button" value="submit" (click)="signupsubmit(signupForm)"
              [disabled]="!signupForm.valid || passwordCheck">SignUp</button>
            </div>
            </div>
        </div>
      </form>
    </div>
    <div class="col">
    </div>
  </div>
</div>
<!-- </div> -->
<nav class="navbar navbar-expand-sm bg-primary navbar-dark text-light mt-5 ">
  <p>Copyright 2021</p>
</nav>