<div class ="container">
<div class="alert alert-info small" *ngIf="errorMessage">{{errorMessage}}</div>
<div class="card-body">
<h5 class="card-header text-white">RESET PASSWORD</h5>
<form [formGroup]="resetpasswordform">
    <div class="form-group col-lg-6 col-md-6 col-sm-12">
        <label for="password"></label>
        <input type="password" class="form-control" formControlName='password'  placeholder="Enter your New Password" ngModel required>
      </div>
      <div class="form-group col-lg-6 col-md-6 col-sm-12">
        <label for="confirmPassword"></label>
        <input type="password" class="form-control" formControlName='confirmPassword'  placeholder="ReEnter New Password" ngModel required>
      </div>
    <div
        class="form-group d-flex justify-content-between align-items-center col-lg-12 col-md-12 col-sm-12">
        <button class="btn btn-primary savebutton" type="submit" value="submit" (click)="resetpassword(resetpasswordform)" [disabled]="!resetpasswordform.valid">Reset</button>
    </div>



</form>
</div>