.card-header{
    background-color: #5b70e4;
    padding: 40px;
    font-size: 30px;
}
.card-body{
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(156, 196, 252));
}
.savebutton{
    width: 100px;
    height: 40px;
    font-size: 15px;
    margin-top:20px;
    border-radius: 25px;
    
}