<div class ="container-fluid">
<form [formGroup]="posttweetsform">
  <div class= "card">
  <div class="form-group col-lg-12 col-md-12 col-sm-12">
    <label for="tweetDesc"></label>
    <textarea class="tweetDesc" name="tweetDesc" formControlName='tweetDesc' placeholder="Enter your Tweet" rows="4"
      cols="30"></textarea>
  </div>
  <!-- <div class="form-group d-flex justify-content-between align-items-center col-lg-12 col-md-12 col-sm-12"> -->
    <button class="btn btn-primary postbtn" type="submit" value="submit" (click)="posttweet(posttweetsform)">Post Tweet</button>
  <!-- </div> -->
</div>
</form>


<div class = "card-body" >
  <div class="card-body col-md-10" *ngFor="let f of tweets;let i = index">
    <div><div class="card">
      
      <img src="assets/user.jfif" alt="boy in a jacket" width="50" height="60">
      <div class="bg-primary text-light">Posted By {{f.tweetBy}} <span class="pl-5">{{f.date}}</span></div></div>
      <div> {{f.tweetDesc}} </div>
    </div>
    <div class="row">
    <a href="javascript:void(0);" *ngIf="!likeArray[i]" (click)="like(i)" class="fs-red"><i
        class="fa fa-heart fs-red">

      </i>Like
    </a>
    <a href="javascript:void(0);" *ngIf="likeArray[i]" (click)="unlike(i)"><i class="fa fa-heart">
      </i>Like
    </a>

    <a href="javascript:void(0);" (click)="reply[i]=true" class="fs-black"><i class="fa fa-reply">
    </i>Reply
  </a>

  </div>
  <textarea *ngIf="reply[i]" id="replyDesc" name="replyDesc" [(ngModel)]='replyDesc' placeholder="Enter your Reply" rows="4"
  cols="50"></textarea>
  <button *ngIf="reply[i]" class="btn btn-primary" type="submit" value="submit" (click)="postcomment(f.tweetId,i)">Post Comments</button>
    <div *ngFor="let comment of f.replyDTOList;">

      <div class="bg-primary text-light">Commented By {{comment.email}} <span class="pl-5">{{comment.date}}</span>
      </div>
      <div class = "cards"> {{comment.replyDesc}} </div>

    </div>
  </div>
</div>
</div>

